<hml><head>
<link rel="stylesheet" href="milligram.min.css">
<style>
	li {
		margin-bottom: 0px;
	}
</style>
<script src='sql.js'></script>
</head>
<body>
<div id="step1"><h3>Step 1</h3><label for="uploadedActivityReports">Upload Activity Reports: </label><input type="file" id="uploadedActivityReports"></div>
<div id="step2" style="display:none"><h3>Step 2</h3><label for="uploadedMastSurveys">Upload Mast Surveys: </label><input type="file" id="uploadedMastSurveys"></div>
<div id="step3" style="display:none"><h3>Step 3</h3><label for="uploadedTreeObservations">Upload Tree Observations: </label><input type="file" id="uploadedTreeObservations"></div>
<div id="step4" style="display:none"><h3>Summary</h3>
	<h4>Totals</h4><ul id="totals"></ul>
	<h4>Member Highlights</h4><ul id="members"></ul>
	<h4>Reports</h4><ul id="reports"></ul>
</div>
<div id="loading" style="display:none">Loading...</div>
<script>
//Create the database
var db = new SQL.Database();
/**
// Run a query without reading the results
db.run("CREATE TABLE test (col1, col2);");
// Insert two rows: (1,111) and (2,222)
db.run("INSERT INTO test VALUES (?,?), (?,?)", [1,111,2,222]);

// Prepare a statement
let stmt = db.prepare("SELECT * FROM test WHERE col1 BETWEEN $start AND $end");
let result = stmt.getAsObject({$start:1, $end:1}); // {col1:1, col2:111}

// Bind new values
stmt.bind({$start:1, $end:2});
while(stmt.step()) { //
		var row = stmt.getAsObject();
		console.log(row)
		// [...] do something with the row of result
}
**/

document.getElementById("uploadedActivityReports").addEventListener("change",readUploadedActivityReports);
document.getElementById("uploadedMastSurveys").addEventListener("change",readUploadedMastSurveys);
document.getElementById("uploadedTreeObservations").addEventListener("change",readUploadedTreeObservations);

function readUploadedCsv(e,callback) {
	const reader = new FileReader()
	reader.onload = function(loadEvent) {
		const rawLines= splitLines(reader.result).filter(line=>line.replace(/\s+/g).length>0)
		const cols=splitCsv(rawLines[0])
		callback(rawLines.slice(1).map(line=>splitCsv(line).reduce((accum,curr,index)=>Object.assign(accum,{[cols[index]]:curr}),{})))
	};
	if(e.target.files.length == 1) {
		reader.readAsText(e.target.files[0]);
	}
}

const dateReg=/^(\d\d?)\/(\d\d?)\/(\d\d\d\d)\s+\d\d?:\d\d?:\d\d?\s+(AM|PM)$/
const numReg=/^\d+$/
const floatReg=/^\d+\.\d+$/
const boolReg=/^(True|False)$/i
function getTypes(allRecords) {
	let types={}
	for(let i in allRecords) {
		for(let key in allRecords[i]) {
			if(types[key]) continue;
			let val=allRecords[i][key]
			if(val.length==0) continue;
			else if(dateReg.exec(val)) types[key]='date'
			else if(numReg.exec(val)) types[key]='integer'
			else if(floatReg.exec(val)) types[key]='float'
			else if(boolReg.exec(val)) types[key]='boolean'
			else types[key]='text'
		}
	}
	return types
}

function getColDeclarations(types) {
	return Object.keys(types).map(col=>`${col} ${types[col] =='boolean' ? 'integer':types[col]}`)
}
function getValueDeclarations(record,types) {
	function getDec(type,val) {
		if(val.length==0) {
			return 'NULL'
		}
		switch(type) {
			case 'date':
				let [match,month,day,year,ampm]=dateReg.exec(val)
				return `'${year}-${month}-${day}'`
			case 'integer':
				return parseInt(val)
			case 'float':
				return parseFloat(val)
			case 'boolean':
				return val.toLowerCase(val) =='true' ? 1 : 0
			default:
				return `'${val.replace(/'/g,'\'\'')}'`
		}
	}
	return Object.keys(types).map(col=>getDec(types[col],record[col]))
}

function readUploadedActivityReports(e) {
	document.getElementById('step1').style.display='none'
	document.getElementById('loading').style.display='block'
	const name='activity'
	makeTableFromFile(name,e,()=>{
		document.getElementById('loading').style.display='none'
		document.getElementById('step2').style.display='block'
	})
}
function readUploadedMastSurveys(e) {
	document.getElementById('step2').style.display='none'
	document.getElementById('loading').style.display='block'
	const name='mastSurveys'
	makeTableFromFile(name,e,()=>{
		document.getElementById('loading').style.display='none'
		document.getElementById('step3').style.display='block'
	})
}

function readUploadedTreeObservations(e) {
	document.getElementById('step3').style.display='none'
	document.getElementById('loading').style.display='block'
	const name='treeObservations'
	makeTableFromFile(name,e,()=>{
		const hoursActivities=`CaredTreesTotalHrs+PlantedTreesTotalHrs+AttendFKtrngTotalHrs+BuildClassroomTotalHrs+ConductTreePrjTotalHrs+AttendTrngTotalHrs+(CASE WHEN UsedFKmaterialTotalHrs=RecruitedFKtotalHrs THEN RecruitedFKtotalHrs ELSE RecruitedFKtotalHrs+UsedFKmaterialTotalHrs END)+ContactLegislatorsTotalHrs+SubmitMediaTotalHrs+InterviewMediaTotalHrs+VoicedConcernsTotalHrs+ParticipateTSItotalHrs+UsedAcceptedPracticeTotalHrs+CollectSplTotalHrs+TreatUnwantedVegTotalHrs+ChemicallyTreatTotalHrs+InstalledFoodPlotsTotalHrs+MaintainedPublicAreaTotalHrs+InstallWaterSourceTotalHrs+SurveyedWildlifeTotalHrs+ConsultForesterTotalHrs+RepresentFKTotalHrs+ConductArborEarthDayTotalHrs+OtherTotalHrs`
		const totalMastTrees=`BlackWalnutTotal+ButternutTotal+HickoriesTotal+WhiteOaksTotal+RedOaksTotal`
		const totals={//firstName||' '||lastName||' recruited '||RecruitedFKnumPeople||' people'
			'total people recruited to forestKeepers':run(`SELECT sum(RecruitedFKnumPeopleInvolved)||' people spent '||sum(RecruitedFKtotalHrs)||' hours recruiting '||sum(RecruitedFKnumPeople)||' people' AS message FROM activity`).message,
			'total trees planted':run(`SELECT sum(PlantedTreesNumPeopleInvolved)||' people spent '||sum(PlantedTreesTotalHrs)||' hours planting '||sum(PlantedTreesNumTrees)||' trees' AS message FROM activity`).message,
			'total trees cared for':run(`SELECT sum(CaredTreesNumPeopleInvolved)||' people spent '||sum(CaredTreesTotalHrs)||' hours caring for '||sum(CaredTreesNumTrees)||' trees' as message from activity`).message,
			'total contacts to legislators':run(`SELECT sum(ContactLegislatorsNumPeopleInvolved)||' people spent '||sum(ContactLegislatorsTotalHrs)||' hours making '||sum(ContactLegislatorsNumContacts)||' contacts to legislators' as message from activity`).message,
			'total food plots and water sources':run(`SELECT sum(InstalledFoodPlotsNumPlots)||' food plots and '||sum(InstallWaterSourceNumSource)||' water sources were installed' as message FROM activity`).message,
			'total surveyed wildlife':run(`SELECT sum(SurveyedWildlifeNumPeopleInvolved)||' people spent '||sum(SurveyedWildlifeTotalHrs)||' hours surveying wildlife' as message FROM activity`).message,
			'total TSI program participation':run(`SELECT sum(ParticipateTSInumPeopleInvolved)||' people spent '||sum(ParticipateTSItotalHrs)||' hours improving '||sum(ParticipateTSInumAcres)||' acres as part of TSI programs' as message FROM activity`).message,
			'total unwanted vegetation treatment':run(`SELECT sum(TreatUnwantedVegNumPeopleInvolved)||' people spent '||sum(TreatUnwantedVegTotalHrs)||' hours treating unwanted vegetation across '||sum(TreatUnwantedVegNumAcres)||' acres' as message FROM activity`).message,
			'total surveyed wildlife':run(`SELECT sum(MaintainedPublicAreaNumPeopleInvolved)||' people spent '||sum(MaintainedPublicAreaTotalHrs)||' hours maintaining '||sum(MaintainedPublicAreaNumPrj)||' public areas' as message FROM activity`).message,
			'total hours spent on all activities':run(`SELECT sum(${hoursActivities}) as count from activity`).count,
			'total hours spent directly improving forests (not training,recruiting,lobbying,representing,consulting,building classrooms, or advocating)':run('SELECT sum(CaredTreesTotalHrs+PlantedTreesTotalHrs+ConductTreePrjTotalHrs+ParticipateTSItotalHrs+UsedAcceptedPracticeTotalHrs+CollectSplTotalHrs+TreatUnwantedVegTotalHrs+ChemicallyTreatTotalHrs+InstalledFoodPlotsTotalHrs+MaintainedPublicAreaTotalHrs+InstallWaterSourceTotalHrs+SurveyedWildlifeTotalHrs+ConductArborEarthDayTotalHrs+OtherTotalHrs) as count from activity').count,
			'total number of trees mast surveyed':run(`SELECT sum(${totalMastTrees}) as count from mastSurveys`).count
		}
		const memberHighlights={
			'member who recruited the most people':run(`SELECT sum(RecruitedFKnumPeople) as count, firstName||' '||lastName||' recruited '||sum(RecruitedFKnumPeople)||' people and participated in '||sum(${hoursActivities})||' hours of activities' as message FROM activity GROUP BY lastName,firstName ORDER BY count DESC LIMIT 1`).message,
			'member who helped plant the most trees':run(`SELECT sum(PlantedTreesNumTrees) as count, firstName||' '||lastName||' helped plant '||sum(PlantedTreesNumTrees)||' trees and participated in '||sum(${hoursActivities})||' hours of activities' as message FROM activity GROUP BY lastName,firstName ORDER BY count DESC LIMIT 1`).message,
			'member who helped care for the most trees':run(`SELECT sum(CaredTreesNumTrees) as count, firstName||' '||lastName||' helped care for '||sum(CaredTreesNumTrees)||' trees and participated in '||sum(${hoursActivities})||' hours of activities' as message FROM activity GROUP BY lastName,firstName ORDER BY count DESC LIMIT 1`).message,
			'member who helped install the most food plots and water sources':run(`SELECT sum(InstalledFoodPlotsNumPlots)+sum(InstallWaterSourceNumSource) as count, firstName||' '||lastName||' helped install '||sum(InstalledFoodPlotsNumPlots)||' food plots and '||sum(InstallWaterSourceNumSource)||' water sources and participated in '||sum(${hoursActivities})||' hours of activities' as message FROM activity GROUP BY lastName,firstName ORDER BY count DESC LIMIT 1`).message,
			'member who helped survey wildlife the most':run(`SELECT sum(SurveyedWildlifeTotalHrs) as count, firstName||' '||lastName||' spent '||sum(SurveyedWildlifeTotalHrs)||' hours surveying wildlife' as message FROM activity GROUP BY lastName,firstName ORDER BY count DESC LIMIT 1`).message,
			'member who spent the most time overall':run(`SELECT sum(${hoursActivities}) as count, firstName||' '||lastName||' spent '||sum(${hoursActivities})||' hours on relevant activities' as message FROM activity GROUP BY lastName,firstName ORDER BY count DESC LIMIT 1`).message,
			'forest advocate':run(`SELECT sum(InterviewMediaTotalHrs)+sum(ContactLegislatorsTotalHrs)+sum(VoicedConcernsTotalHrs) as count, firstName||' '||lastName||' spent '||sum(VoicedConcernsTotalHrs)||' hours voicing concerns at meetings, '||sum(InterviewMediaTotalHrs)||' hours conducting media interviews, and '||sum(ContactLegislatorsTotalHrs)||' hours contacting legislators' as message FROM activity GROUP BY lastName,firstName ORDER BY count DESC LIMIT 1`).message,
			'member who completed the most tree observations':run(`SELECT count(*) as count, FirstName||' '||LastName||' made '||count(*)||' tree observations' as message FROM treeObservations GROUP BY LastName,FirstName ORDER BY count DESC LIMIT 1`).message,
			'member who mast surveyed the most trees':run(`SELECT sum(${totalMastTrees}) as count, FirstName1||' '||LastName1||' mast surveyed '||sum(${totalMastTrees})||' trees' as message FROM mastSurveys GROUP BY LastName1,FirstName1 ORDER BY count DESC LIMIT 1`).message
		}
		const reports={
			'number of member activity reports':run(`SELECT count(*) as count from activity`).count,
			'number of tree observations':run('SELECT count(*) as count from treeObservations').count,
			'number of mast surveys':run(`SELECT count(*) as count from mastSurveys`).count
		}
		// document.getElementById('report').innerText=Object.keys(queries).map(key=>`${key}: ${queries[key]}`).join('\n')
		makeFromObj(document.getElementById('totals'),totals)
		makeFromObj(document.getElementById('members'),memberHighlights)
		makeFromObj(document.getElementById('reports'),reports)
		document.getElementById('loading').style.display='none'
		document.getElementById('step4').style.display='block'
	})
}
function makeFromObj(parent,obj) {
	for(let key in obj) {
		const newRow=makeNewElement('li','',parent)
		makeNewElement('span',key,newRow,false)
		makeNewElement('span',obj[key],newRow,true)
	}
}
function makeNewElement(tagName,content,parent,isValue=false) {
  const newElement = document.createElement(tagName);
	if(isValue) {
		newElement.style['font-weight']='bold';
		content = ': '+content
	}
	if(content.length>0) {
		const newContent = document.createTextNode(content);
	  newElement.appendChild(newContent);
	}
  parent.appendChild(newElement)
	return newElement
}
function run(query) {
	const stmt = db.prepare(query);
	return stmt.getAsObject({});
}

function makeTableFromFile(tableName,e,callback) {
	const exists=db.prepare(`SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName`).getAsObject({$tableName:tableName}).name !== undefined
	if(exists) db.run(`DROP table ${tableName}`);
	readUploadedCsv(e,allRecords=>{
		const types=getTypes(allRecords)
		const createQuery=`CREATE table ${tableName} (${getColDeclarations(types).join(',')})`
		// console.log('create query is ',createQuery)
		db.run(createQuery)
		allRecords.forEach(record=>{
			let insertQuery=`INSERT into ${tableName} (${Object.keys(types).join(',')}) VALUES (${getValueDeclarations(record,types).join(`,`)})`
			// console.log('insert query is',insertQuery)
			db.run(insertQuery)
		})
		callback()
	})
}
function splitCsv(str) {
	return str.split(',').reduce((accum,curr)=>{
		if(accum.isConcatting) {
			accum.soFar[accum.soFar.length-1] += ','+curr
		} else {
			accum.soFar.push(curr)
		}
		if(curr.split('"').length % 2 == 0) {
			accum.isConcatting= !accum.isConcatting
		}
		return accum;
	},{soFar:[],isConcatting:false}).soFar
}
function splitLines(str) {
	return str.split(/\r?\n/).reduce((accum,curr)=>{
		if(accum.isConcatting) {
			accum.soFar[accum.soFar.length-1] += ' '+curr
		} else {
			accum.soFar.push(curr)
		}
		if(curr.split('"').length % 2 == 0) {
			accum.isConcatting= !accum.isConcatting
		}
		return accum;
	},{soFar:[],isConcatting:false}).soFar
}

</script>
</body></html>
